.btn__minus {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
    background-color: red;
    border: 2px solid black;
    font-weight: bold;
}

.btn__plus {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
    background-color: green;
    border: 2px solid black;
    font-weight: bold;
}

.counter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count {
    padding: 12px;
}